<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">
<head>
  <meta charset="utf-8">
  <title>Expense Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- responsive -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous"
  >
</head>
<body class="bg-dark text-light">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom border-secondary">
      <div class="container">
        {% if user.is_authenticated %}
          <a class="navbar-brand text-light" href="{% url 'expenses_list' %}">Expense Tracker</a>
        {% else %}
          <span class="navbar-brand text-light">Expense Tracker</span>
        {% endif %}

        <div class="ms-auto">
          {% if user.is_authenticated %}
            <a class="me-3 text-light" href="{% url 'expenses_list' %}">Expenses</a>
            <a class="me-3 text-light" href="{% url 'categories_list' %}">Categories</a>
            <a class="me-3 text-light" href="{% url 'reports_summary' %}">Reports</a>
            <form action="{% url 'logout' %}" method="post" class="d-inline">
              {% csrf_token %}
              <button class="btn btn-outline-light btn-sm" type="submit">Logout</button>
            </form>
          {% else %}
            <a class="btn btn-outline-light btn-sm me-2" href="{% url 'login' %}">Login</a>
            <a class="btn btn-primary btn-sm" href="{% url 'signup' %}">Sign up</a>
          {% endif %}
        </div>
      </div>
  </nav>

  <main class="container my-4">
    {% block content %}{% endblock %}
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"></script>
</body>
</html>
